/*RESET*/
*{padding: 0px;
margin: 0px;
font-family:Georgia, 'Times New Roman', Times, serif;}

body{background:linear-gradient(to bottom ,rgb(6, 6, 94),black);
background-repeat: no-repeat;background-attachment: fixed;}
header{color: white;text-align: center;padding: 20px;}

section{background-color: white;
    color: black;
    width: 500px;
    height: 430px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
    text-align: center;
    margin: auto; padding-top: 20px;}
p{
    padding: 5px;}
footer{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    color: rgb(255, 255, 255);
}
